html {
 width: 100vw;
}

body {
 font-family: "Playwrite NZ Basic", cursive;
 font-optical-sizing: auto;
 font-weight: weight;
 font-style: normal;
 margin-left: 1rem;
 margin-right: 1rem;
 display: flex;
 flex-wrap: wrap;
 width: 90%;
 margin: 0 auto;
 background-color: rgb(239, 224, 158);

 header {
  width: 20%;

  img {
   width: 100%;
  }

  h1 {
   text-align: center;
  }

  ul {
   padding: 0;
  }

  li {
   list-style-type: none;
   margin-bottom: 15px;
   text-align: center;
  }
 }

 main {
  width: 75%;
  margin: 0 auto;
  padding-left: 3%;
  align-items: center;

  .banniere img {
   width: 70vw;
  }

  .movies {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: 5%;

   h2 {
    width: 100%;
    text-align: center;
   }

   article {
    width: 45%;
    max-width: 235px;
    background-clip: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px black solid;
    border-radius: 10px 10px 10px 10px;
    height: 60vh;
    margin-bottom: 5%;

    a {
     text-decoration: none;
     color: white;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     background-color: rgba(0, 0, 0, 0.333);
     height: inherit;
    }

    h3 {
     text-align: center;
    }

    p {
     margin-left: 4%;
    }

    ul {
     display: flex;
     flex-wrap: wrap;
     gap: 5%;
     margin-left: 4%;
     padding: 0;
    }

    li {
     list-style-type: none;
     border: 1px white solid;
     border-radius: 5px;
     backdrop-filter: blur(4px);
     padding: 5px 10px;
     margin-bottom: 5px;
    }

   }

  }

 }

 footer {
  width: 100%;
 }

}