body {
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;

    background-color: black;
    color: wheat;
}

header {
    color: wheat;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    width: 10%;

    >nav {
        flex: 1;

        >ul {
            height: 100%;
            justify-content: center;
        }
    }
}

.logo {
    width: 150px;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 4rem;
    margin-top: 1rem;
}

.nav li {
    list-style: none;
}

a {
    color: wheat;
    text-decoration: none;
}

.article {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.container {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    padding-left: 0rem;
    margin-right: 5rem;
}

.movie-img {
    width: 100%;
    height: 75%;
    border-radius: 80px;
    margin: auto;
}

.title-movie {
    text-align: center;
    font-size: 4rem;
}

.movie-img {
    height: 50%;
    width: 50%;
    margin: auto;
}

.overview {
    margin-bottom: 2rem;
}

.footer {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    background-color: wheat;
    height: 400px;
    width: 100%;

    .legal {
        display: flex;
        flex-direction: column;
    }

    img {
        width: 100%;
    }
}

.realeaseRuntime {
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 768px) {
    header {
        flex-direction: row;
        width: 100%;
    }

    .title-movie {
        font-size: 2rem;
    }

    body {
        flex-direction: column;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-right: 2rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin: 1rem;
        width: 100%;
    }
    .overview{
    margin-right:4rem;
    margin-left: 2rem;
}

footer{
    flex-direction: column;

}
}