body {
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  background-color: rgb(239, 224, 158);
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10%;
    padding-left:2rem ;
    margin-right: 2rem;
}

.logo{
    width: 150px;
}

nav ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 4rem;
}

.nav li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: blanchedalmond;
    padding-left: 2rem;
}

.movie-img{
    width: 100%;
    height: 75%;
}

.title-movie{
    text-align: center;
    font-size: 4rem;
}

.movie-img  {
    height: 50%;
    width: 50%;
    margin: auto;    
}

.overview{
    margin-bottom:2rem;
}

@media (max-width: 768px)  {
    header {
        flex-direction: row;
        width: 100%;
        height: 8rem;
    }
    
    body {
        flex-direction:column ;
    }

    nav ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-right: 2rem;
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}
}